/**
 * SyngulARS 
 *
 * Master Stylesheet
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
/**
 * Dashboard Stylesheet
 *
 * Contains styling rules for elements
 * within the SyngulARS dashboard.
 */
.syngulars_dashboard {
  width: 87.5vw;
  margin: -2.5vh 0 0 -1.6vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #808284;
  overflow-x: hidden; }

.syngulars_dashboard a {
  text-decoration: none; }

.syngulars_dashboard .italic {
  font-style: italic; }

.syngulars_dashboard .right {
  text-align: right; }

.syngulars_dashboard .left {
  text-align: left; }

.syngulars_dashboard .center {
  text-align: center; }

.syngulars_dashboard .step-inactive {
  display: none; }

.syngulars_dashboard .step-active {
  display: block; }

.syngulars_dashboard .hide {
  display: none; }

.syngulars_dashboard .content-indent {
  margin: 0 0 0 4vw; }

.syngulars_dashboard h1 {
  background: #00a79d;
  color: #f1f1f2;
  padding: 5vh 0 0 11%;
  text-transform: uppercase;
  font-weight: 100;
  height: 7.9vh;
  background-image: url("../icons/syngulars_65x65.png");
  background-repeat: no-repeat;
  background-position: 3% 50%; }

.syngulars_dashboard .step-1,
.syngulars_dashboard .step-2,
.syngulars_dashboard .step-4 {
  padding: 1vh 2vw; }

.syngulars_dashboard h2 {
  color: #00a79d;
  text-transform: uppercase;
  font-weight: 100;
  max-width: 40vw;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.5em; }

.syngulars_dashboard .step-1 h2:before {
  content: '1. '; }

.syngulars_dashboard .step-2 h2:before {
  content: '2. '; }

.syngulars_dashboard .step-4 h2:before {
  content: '3. '; }

.syngulars_dashboard input[type="text"] {
  padding: .5em;
  border: 0;
  text-align: center;
  font-style: italic;
  height: 56px;
  width: 250px;
  font-size: 1.125em;
  display: inline-block;
  -webkit-transition: all 500ms, 1s ease-out 500ms, 1s;
  -moz-transition: all 500ms, 1s ease-out 500ms, 1s;
  -o-transition: all 500ms, 1s ease-out 500ms, 1s;
  transition: all 500ms, 1s ease-out 500ms, 1s; }

.syngulars_dashboard input[type="text"]:focus {
  outline: none;
  border-color: #00a79d;
  box-shadow: inset 0 0 2px rgba(0, 167, 157, 0.7);
  -webkit-transition: all 500ms, 1s ease-out 500ms, 1s;
  -moz-transition: all 500ms, 1s ease-out 500ms, 1s;
  -o-transition: all 500ms, 1s ease-out 500ms, 1s;
  transition: all 500ms, 1s ease-out 500ms, 1s; }

.syngulars_dashboard .save {
  margin: 0;
  border: 0;
  background: #00a79d;
  background-image: url("../icons/save.png");
  background-repeat: no-repeat;
  background-position: 90% 45%;
  text-transform: uppercase;
  color: #f1f1f2;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  height: 55.5px;
  width: 120px;
  padding: 0 0 0 0;
  margin: -14px 0 0 0;
  text-align: center;
  font-size: 1.125em;
  cursor: pointer;
  -webkit-transition: all 500ms, 1s ease-out 500ms, 1s;
  -moz-transition: all 500ms, 1s ease-out 500ms, 1s;
  -o-transition: all 500ms, 1s ease-out 500ms, 1s;
  transition: all 500ms, 1s ease-out 500ms, 1s; }

.syngulars_dashboard .save:hover {
  background: #008d85;
  background-image: url("../icons/save.png");
  background-repeat: no-repeat;
  background-position: 90% 45%;
  -webkit-transition: all 500ms, 1s ease-out 500ms, 1s;
  -moz-transition: all 500ms, 1s ease-out 500ms, 1s;
  -o-transition: all 500ms, 1s ease-out 500ms, 1s;
  transition: all 500ms, 1s ease-out 500ms, 1s; }

.syngulars_dashboard .save span {
  margin: 0 0 0 -30px; }

.syngulars_dashboard .step-1 input[type="radio"],
.syngulars_dashboard .step-2 input[type="radio"] {
  background: #f1f1f2; }

.syngulars_dashboard .step-1 input[type="radio"]:focus,
.syngulars_dashboard .step-1 input[type="radio"]:checked,
.syngulars_dashboard .step-2 input[type="radio"]:focus,
.syngulars_dashboard .step-2 input[type="radio"]:checked {
  border-color: #00a79d;
  box-shadow: inset 0 0 2px rgba(0, 167, 157, 0.7);
  background: #e5e5e5; }

.syngulars_dashboard .step-1 input[type=radio]:checked:before,
.syngulars_dashboard .step-2 input[type=radio]:checked:before {
  background-color: #00a79d; }

.syngulars_dashboard .step-1 .radio-label,
.syngulars_dashboard .step-2 .radio-label {
  text-transform: uppercase;
  margin: 0 1vw 0 .3vw;
  font-style: italic; }

.syngulars_dashboard .theme-data {
  position: absolute;
  top: 65vh;
  left: 10vw;
  font-size: 1.125em; }

.syngulars_dashboard .theme-data ul {
  list-style: none;
  text-transform: uppercase;
  text-align: right; }

.syngulars_dashboard .theme-data ul li {
  color: #00a79d; }

.syngulars_dashboard .theme-data .label {
  color: #808284; }

.syngulars_dashboard .content-templates {
  margin: 0 0 0 3%; }

.syngulars_dashboard .template-model img {
  height: auto;
  width: 80%; }

.syngulars_dashboard .template-model {
  display: inline-block;
  margin-bottom: 3%;
  width: 30%; }

.syngulars_dashboard .step-2 .content-indent {
  margin: 10vh 0 0 4vw; }

.syngulars_dashboard .step-2 .content-templates {
  text-align: center;
  width: 70vw; }

.syngulars_dashboard .step-2 .template-model {
  margin: 0;
  padding: 0; }

.syngulars_dashboard .step-2 .template-model img {
  width: 90%; }

.syngulars_dashboard .step-2 .help {
  width: 60vw;
  margin: 4vh 0;
  font-size: 14px; }

/**
 * Step Buttons
 */
.syngulars_dashboard .step-btns a,
.syngulars_dashboard .step-2 .edit {
  background: #e5e5e5;
  color: #00a79d;
  text-align: center;
  margin: 0;
  padding: .5em 1.5em;
  border: 1px solid #00a79d;
  height: auto;
  width: 150px;
  font-style: normal;
  font-weight: 100;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px; }

.syngulars_dashboard .step-btns a:hover,
.syngulars_dashboard .step-2 .edit:hover {
  background: #808284;
  color: #f1f1f2;
  border: 1px solid #f1f1f2; }

.syngulars_dashboard .step-btns a.inactive {
  color: #808284;
  border-color: #808284;
  pointer-events: none;
  cursor: default; }

.syngulars_dashboard .step-btns {
  display: block;
  width: 100%; }

.syngulars_dashboard .btn-left {
  float: left; }

.syngulars_dashboard .btn-right {
  float: right; }

/**
 * Editor Overlay
 */
.syngulars_dashboard .syngulars-welcome-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999;
  width: 100%;
  height: 100%; }

.syngulars_dashboard .welcome-message {
  margin: 15% auto;
  width: 30%;
  height: 20%;
  background: #f1f1f2;
  padding: 5% 5%;
  text-align: center; }

.syngulars_dashboard .welcome-message p {
  margin: -5% 0 10% 0; }

.syngulars_dashboard .welcome-message .continue {
  background: #e5e5e5;
  color: #00a79d;
  text-align: center;
  margin: 0;
  padding: .5em 1.5em;
  border: 1px solid #00a79d;
  height: auto;
  width: 150px;
  font-style: normal;
  font-weight: 100;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px; }

.syngulars_dashboard .welcome-message .continue:hover {
  background: #808284;
  color: #f1f1f2;
  border: 1px solid #f1f1f2; }

.syngulars_dashboard .syngulars-overlay {
  background: white;
  position: absolute;
  top: -32px;
  left: -180px;
  z-index: 9999999;
  overflow: hidden; }

.syngulars_dashboard .syngulars-grid {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99999999; }

.syngulars_dashboard .grid-line {
  width: 100vw;
  height: 1px;
  background: #e5e5e5;
  position: absolute; }

.syngulars_dashboard .grid-column {
  height: 100%;
  background: rgba(229, 229, 229, 0.5);
  position: absolute;
  top: 0;
  display: inline-block; }

.syngulars_dashboard .syngulars-notice {
  position: absolute;
  top: 0;
  background: #00a79d;
  background-image: url("../icons/alert.png");
  background-repeat: no-repeat;
  background-position: 9% 0%;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 999999999; }

/**
 * Tools
 */
.syngulars_dashboard .syngulars-tools {
  background: #f1f1f2;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999999999; }

.syngulars_dashboard .syngulars-tools ul {
  list-style: none; }

.syngulars_dashboard .syngulars-tools ul li {
  display: inline-block;
  margin: 0 1.5%; }

.syngulars_dashboard .syngulars-tools ul li img {
  border: 0;
  outline: none;
  cursor: pointer; }

.syngulars_dashboard .syngulars-tools .tool-btn-save {
  margin: 0 0 0 2.5%; }

.syngulars_dashboard .syngulars-tools .tool-name {
  display: block;
  text-transform: uppercase;
  color: #00a79d; }

.syngulars_dashboard .syngulars-tools .tool-name-save {
  font-size: 12px; }

.syngulars_dashboard .toggle-tools,
.syngulars_dashboard .close-tools {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 auto; }

.syngulars_dashboard .hide-tools {
  background-image: url("../icons/tools/hide.png");
  background-repeat: no-repeat; }

.syngulars_dashboard .show-tools {
  background-image: url("../icons/tools/show.png");
  background-repeat: no-repeat; }

.syngulars_dashboard .draggable {
  border: 1px dashed rgba(0, 167, 157, 0.5);
  padding: 2%;
  background: transparent;
  width: 30%;
  text-transform: uppercase;
  color: #808284;
  font-style: italic;
  cursor: move;
  position: absolute;
  top: 45px; }

.syngulars_dashboard .draggable:hover {
  border: 1px dashed rgba(255, 0, 0, 0.5); }

.syngulars_dashboard .menu ul li {
  display: inline-block;
  border: 1px dotted #808284;
  padding: .5% 1%; }

.syngulars_dashboard .draggable p {
  vertical-align: middle; }

.syngulars_dashboard .syngulars-editor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999991; }

.syngulars_dashboard .tool-delete {
  padding: 5px 10px;
  background-image: url("../icons/tools/delete.png");
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  margin: -20px -50px 0 0; }

.syngulars_dashboard .tool-edit {
  padding: 5px 10px;
  background-image: url("../icons/tools/edit.png");
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  margin: -20px 10px 0 0; }

.syngulars_dashboard .syngulars-wrapper-tools,
.syngulars_dashboard .syngulars-menu-tools,
.syngulars_dashboard .syngulars-title-tools,
.syngulars_dashboard .syngulars-text-tools,
.syngulars_dashboard .syngulars-media-tools,
.syngulars_dashboard .syngulars-buttons-tools {
  background: #f1f1f2;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 9999999999; }

.syngulars_dashboard .syngulars-secondary-tool {
  height: 200px; }

.syngulars_dashboard .tool-section {
  text-transform: uppercase;
  vertical-align: middle;
  text-align: right;
  margin-right: 10%; }

.syngulars_dashboard .tool-section img {
  vertical-align: middle; }

.syngulars_dashboard .aqua {
  color: #00a79d; }

.syngulars_dashboard .syngulars-secondary-tool .wp-picker-container .iris-picker {
  margin-top: -306px; }

.syngulars_dashboard .syngulars-secondary-tool label {
  text-align: left; }

.syngulars_dashboard .syngulars-secondary-tool img {
  height: 70%; }

/*# sourceMappingURL=syngulars.css.map */
